<div class="container col-lg-6" style="padding-left:50px; padding-right:50px padding-top:50px;">
<h1>About</h1>
<h3>
Dance Heritage Coalition
</h3>
<p>
Dance Heritage Coalition is the sole national nonprofit whose mission is to document, preserve, and create access to the dance legacy of the United States.
</p>
<h3>
Technical Information
</h3>
<p>
Finding aids in this database are encoded according to the Encoded Archival Description (EAD) format, either by the contributing institution or DHC contractual staff who assist smaller repositories lacking staff trained in EAD.
</p>
<h3>
Funding Support </h3>
<p>
Components of this site have been funded by The Andrew W. Mellon Foundation, the Gladys Krieble Delmas Foundation, and the National Endowment for the Arts. Through support from the Hidden Collections program administered by the Council on Library and Information Resources (CLIR), DHC managed a collaborative project to create finding aids for collections at seven DHC-member repositories. 
</p>
</div>