<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Dance Heritage Coalition Finding Aids</title>
</head>

<body>

<div class="container col-lg-12" style="padding:15px">
  <a href="http://findingaids.danceheritage.org/xtf/search"><img src="http://findingaids.danceheritage.org/xtf/brand/dhc_logo.png" alt="DHC logo" /></a>
  <br><br>

</div>

<div class="container col-lg-6" style="padding-left:50px; padding-right:50px">

<h1> Welcome to Dance Heritage Coalition's Searchable Database of Finding Aids for Dance-Related Collections </h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

<br />
<p>
  <a class="btn btn-primary btn-lg" role="button" href="http://findingaids.danceheritage.org/xtf/search">Search Collections</a>
</p>
<br />
<p><em>This site is currently being updated. Please be patient as we work to finalize how things look and work. If you encounter any problems, please contact Kat Bell at kbell[at]danceheritage.org for assistance.
</em></p>
<h3> What are finding aids? </h3>

<p>
Finding aids are descriptive indexes of archival collections held by repositories such as libraries, museums, archives, and other organization. These collections include unique and original items like letters, dairies, and objects, and each finding aid provides an inventory or contents listing of a collection; the level of description may be as broad as a listing by box or as specific as by folder or item. Finding aids may also provide information on the collection's history and a biography of the collecting entity (e.g., individual artists, companies, scholars, critics, and organizations), as well as a note on the scope and contents of the collection (e.g., an overview of the materials and how they are organized).
</p>
 <h3> 
How can a finding aid help my research?
</h3>
<p>
A finding aid can help you efficiently locate collections and items relevant to your research interests. The items in archival collections are “primary source materials,” that is, original and unique documents or other items.
</p>
<h3>How is this database of finding aids different from others?</h3>
<p>
DHC provides access through one portal to dance-related collections held by libraries, museums, archives, and dance organizations. Many of these finding aids are available through other websites or in person at their respective institutions. This portal provides the convenience of being able to search all dance-related collections that have been contributed, making it easier and faster for researchers to locate primary sources in their research topic.
</p>
</div>
<div class="container col-lg-4">




<h1>About</h1>
<h3>
Dance Heritage Coalition
</h3>
<p>
Dance Heritage Coalition is the sole national nonprofit whose mission is to document, preserve, and create access to the dance legacy of the United States.
</p>
<h3>
Technical Information
</h3>
<p>
Finding aids in this database are encoded according to the Encoded Archival Description (EAD) format, either by the contributing institution or DHC contractual staff who assist smaller repositories lacking staff trained in EAD.
</p>
<h3>
Funding Support </h3>
<p>
Components of this site have been funded by The Andrew W. Mellon Foundation, the Gladys Krieble Delmas Foundation, and the National Endowment for the Arts. Through support from the Hidden Collections program administered by the Council on Library and Information Resources (CLIR), DHC managed a collaborative project to create finding aids for collections at seven DHC-member repositories. 
</p>
</div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
</body>
</html>

