<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" href="css/carousel.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Dance Heritage Coalition Finding Aids</title>
</head>

<body>
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">DHC Finding Aids</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/DNB/DNBphoto_041.jpg" alt="DNB 041">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dance Heritage Coalition</h1>
              <p>Welcome to Dance Heritage Coalition's Searchable Database of Finding Aids for Dance-Related Collections</p>
              <p><a class="btn btn-lg btn-primary" href="http://findingaids.danceheritage.org/xtf/search" role="button">Search Collections</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/MPD/130925-073.jpg" alt="MP+D 130925-073">
          <div class="container">
            <div class="carousel-caption">
              <h1>MP+D</h1>
              <p>Here is a photo caption.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Search MP+D</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/LC/IMG_1084.jpg" alt="LC 1084">
          <div class="container">
            <div class="carousel-caption">
              <h1>Library of Congress</h1>
              <p>Here is another photo caption.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Search LC</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

<div class="container col-lg-12" style="padding:15px">
  
  <br><br>

</div>

<div class="container col-lg-6" style="padding-left:50px; padding-right:50px">

<br />
<p><em>This site is currently being updated. Please be patient as we work to finalize how things look and work. If you encounter any problems, please contact Kat Bell at kbell[at]danceheritage.org for assistance.
</em></p>
<h3> What are finding aids? </h3>

<p>
Finding aids are descriptive indexes of archival collections held by repositories such as libraries, museums, archives, and other organization. These collections include unique and original items like letters, dairies, and objects, and each finding aid provides an inventory or contents listing of a collection; the level of description may be as broad as a listing by box or as specific as by folder or item. Finding aids may also provide information on the collection's history and a biography of the collecting entity (e.g., individual artists, companies, scholars, critics, and organizations), as well as a note on the scope and contents of the collection (e.g., an overview of the materials and how they are organized).
</p>
 <h3> 
How can a finding aid help my research?
</h3>
<p>
A finding aid can help you efficiently locate collections and items relevant to your research interests. The items in archival collections are “primary source materials,” that is, original and unique documents or other items.
</p>
<h3>How is this database of finding aids different from others?</h3>
<p>
DHC provides access through one portal to dance-related collections held by libraries, museums, archives, and dance organizations. Many of these finding aids are available through other websites or in person at their respective institutions. This portal provides the convenience of being able to search all dance-related collections that have been contributed, making it easier and faster for researchers to locate primary sources in their research topic.
</p>
</div>
<div class="container col-lg-4">




<h1>About</h1>
<h3>
Dance Heritage Coalition
</h3>
<p>
Dance Heritage Coalition is the sole national nonprofit whose mission is to document, preserve, and create access to the dance legacy of the United States.
</p>
<h3>
Technical Information
</h3>
<p>
Finding aids in this database are encoded according to the Encoded Archival Description (EAD) format, either by the contributing institution or DHC contractual staff who assist smaller repositories lacking staff trained in EAD.
</p>
<h3>
Funding Support </h3>
<p>
Components of this site have been funded by The Andrew W. Mellon Foundation, the Gladys Krieble Delmas Foundation, and the National Endowment for the Arts. Through support from the Hidden Collections program administered by the Council on Library and Information Resources (CLIR), DHC managed a collaborative project to create finding aids for collections at seven DHC-member repositories. 
</p>
</div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
</body>
</html>

