<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" href="css/carousel.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Dance Heritage Coalition Finding Aids</title>
</head>
<body>
<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"> Dance Heritage Coalition</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Repositories<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=american+dance+festival">American Dance Festival</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=arizona+state+university">Arizona State University</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=bates+college">Bates College</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=dance+notation+bureau">Dance Notation Bureau</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=http://findingaids.danceheritage.org/xtf/search?keyword=jacob%27s+pillow">Jacob's Pillow</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=library+of+congress">Library of Congress</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=mpd">MPD</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=new+york+public+library">NYPL</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=newberry">Newberry Library</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=ohio+state+university">Ohio State University</a></li>
                    <li><a href="http://findingaids.danceheritage.org/xtf/search?keyword=ucla">UCLA</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">More Information...</li>
                    <li><a href="#">About the collections</a></li>
                    <li><a href="#">About the DHC</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
<body>
<%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
</body>
</html>

